 <script>
     $('#vegeterian').change(function(){
     	if($(this). prop("checked") == true){
		$(".vegeterian").hide();
		}
		else{$(".vegeterian").show();}
      })
</script>

 <%= check_box_tag 'vegeterian'%>

 <%= label_tag :Vegeterian %><br>

<% @dishes.each do |dish| %>

<div class= '<%= "vegeterian" if dish.vegeterian? %>' >


<% quantity = 0 %>
<%= label_tag(dish.name) %>



<%= button_to '+', line_items_path(:dish_id => dish), remote: true %>
<div id = '<%= dish.id %>'>

<% if LineItem.find_by(dish_id: dish.id,cart_id: @cart.id) %>
<% quantity = LineItem.find_by(dish_id: dish.id,cart_id: @cart.id).quantity %>

<% end %>



 <%= label_tag(quantity)%>
</div>
<%= button_to '-', line_items_downgrade_path(:dish_id => dish), remote: true %>


</div>
<% end %>


